<!doctype html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>
	<body>
		<div class="container">
			<div>
				<h1>Monitoring these urls</h1>
			</div>
			<div class="urls">
				<table class="table table-striped table-hover ">
					<% url.forEach(function(text) { %>
					<tr>
						<td><%= text %></td>
						<td class="status col-md-2 success" >OK</td>
					</tr>
					<% }); %>
				</table>
			</div>
		</div>
		<% include ./script %>
	</body>
	<footer>
		<% include ./footer %>
	</footer>
</html>